/*
SA: I Nicolas Jao, 400450151 certify that this material is my original work. 
No other person's work has been used without due acknowledgement. I have also 
not made my work available to anyone else.
*/
html {
  background: url("background.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  zoom: 70%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
	width: 1300px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 60px;
}

nav {
	background-color: #FFFFFF;
	padding: 20px;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0px;
	border-bottom: solid thin black;
	font-size: 30px;
}

nav ul li {
	display: inline;
	margin: 0px 10px 0px 10px
}

nav ul li a:link, nav ul li a:visited {
	color: #000000;
	padding: 6px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #ababab;
}

nav ul li a:active {
	background-color: #666666;
}

body {
	line-height: 175%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	color: #000000;
	line-height: 175%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 25px;
}

h2 {
	font-size: 40px;
	color: #666666;
	margin-bottom: 40px;
	margin-top: 40px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
	color: #666666;
	margin-bottom: 40px;
	margin-top: 40px;
	font-weight: bold;
}

img {
	border: solid black thin;
}

.floatLeft {
	float: left;
	margin-right: 20px;
}

.floatRight {
	float: right;
	margin-left: 30px;
}

ul {
	list-style: disc;
	margin-left: 40px;
}

ol {
	list-style: decimal;
	margin-left: 40px;
}

li {
	color: #000000;
	line-height: 175%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 25px;
}

#credits {
	padding: 20px;
	text-align: center;
	background-color: #FFFFFF;
	border-top: solid thin black;
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

table, th, td {
	border: 1px solid black;
	padding: 15px;
  margin-top: 15px;
	font-size: 25px;
}

th {
	text-align: center;
	font-weight: bold;
}

td {
	text-align: center;
}

a {
	font-size: 25px;
}

.box {
  background-color: rgb(180,180,180);
  padding: 30px;
  border-radius: 25px;
}
